/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent: #FF0070;
  --focus: #DB00FF;
  --text: #F1B2CE;
  --title: #000028;
  --header: #FF0070;
  --bg-img: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
