/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent: #FF8DCB;
  --focus: #FFC2E6;
  --text: #353430;
  --title: #353430;
  --pink2black: #353430;
  --bg-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  --accent: #FF8DCB;
  --focus: #FFC2E6;
  --text: #353430;
  --title: #353430;
  --pink2black: #353430;
  --bg-img: url(../images/cover-image-light.png);
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .rec {
  visibility: hidden;
}

.theme-light .point {
  visibility: hidden;
}
