/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.link {
  text-decoration: none;
  text-shadow: 4px 4px 0px var(--accent);
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  border: 0.1px solid var(--text);
  text-decoration: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent);
  pointer-events: none
}

.header__theme-menu {
  width: 230px;
  height: 26px;
}

.header__theme-menu-list {
  left: calc(50% - 230px/2);
  top: 20px;
  padding: 0px 13px;
  position: absolute;
  width: 70px;
  height: 26px;
}

.header__theme-menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent);
}

.header__theme-menu-button{
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.header__theme-menu-button:hover {
  border: 0.1px solid var(--accent);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  border: none;
}

h1 {
  position: absolute;
  left: 0px;
  top: calc(50% - 130px/2);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
  line-height: 82.5%;
  color: var(--focus);
  text-shadow: 4px 4px 0px var(--accent);
}

.title {
  position: absolute; 
  right: 20px; 
  bottom: 134px;
  min-width: 491px;
  max-width: 500px;
  height: 71px;
}

.title-decor {
  color: var(--title);
  background-color: var(--accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.decorated-zone {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  z-index: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
  z-index: 0;
}

.rec {
  position: absolute;
  color: var(--accent);
  font-size: 18px;
  margin-top: 20px;
  margin-left: calc(100% - 82px);
  text-transform: uppercase;
}

.point {
  position: absolute;
  margin-top: 24px;
  margin-left: calc(100% - 40px);
  width: 15px;
  height: 15px;
  background: radial-gradient(circle, var(--accent) 0%);
  filter: blur(5px);
  z-index: 1;
}

.main {
  margin: 60px 20px;
}

.sec {
  display: grid;
  gap: 20px;
  margin-bottom: 80px;
  font-size: 18px;
}

.sec1 {
  grid-template-columns: 0.5fr 1fr;
}

.mini-title {
  color: var(--accent);
  font-weight: bold;
}

.text {
  color: var(--text);
  margin-top: 10px;
  margin-bottom: 20px;
}

.sec2 {
  grid-template-rows: 20px auto-fit;
}

.content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.sec3 {
  grid-template-columns: 0.5fr 1fr;
}

.special-title {
  color: var(--title);
  background-color: var(--accent);
  font-weight: 100;
  font-size: 18px;
  line-height: 23px;
}

.gallery-title {
  margin-bottom: 20px;
}

.gallery {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sunset {
  grid-column: 1 / 3;
  grid-row: 1;
}

.ice-cream {
  grid-column: 3;
  grid-row: 1 / 3;
}

.tape {
  grid-column: 1;
  grid-row: 2 / 4;
}

.book {
  grid-column: 2;
  grid-row: 2;
}

.street {
  grid-column: 2 / 4;
  grid-row: 3;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
  line-height: 82.5%;
  color: var(--focus);
  text-shadow: 4px 4px 0px var(--accent);
}

.gap {
  margin-top: 20px;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono';
  position: relative;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

@media (width >= 768px) {
.header__theme-menu-list {
  top: 192px;
  left: calc(100% - 80px);
  flex-direction: column;
}

h1 {
  font-size: clamp(7.25rem, 6.5rem + 1.5625vw, 7.5rem);
}

h2 {
  font-size: clamp(7.25rem, 6.5rem + 1.5625vw, 7.5rem);
}

.content {
  grid-template-columns: none;
}
}

@media (width >= 1024px) {
.header__theme-menu-list {
  left: calc(50% - 230px/2);
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
}

h2 {
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
}

.content {
  grid-template-columns: repeat(3, 1fr);
}
}