/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.link {
  text-decoration: none;
  text-shadow: 4px 4px 0px var(--accent);
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  border: 0.1px solid var(--text);
  text-decoration: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--pink2black);
  pointer-events: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  left: calc(50% - 230px/2);
  top: 20px;
  padding: 0px 13px;
  position: absolute;
  width: 70px;
  height: 26px;
  gap: 10px;
}

.header__theme-menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--pink2black);
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.header__theme-menu-button:hover {
  border: 0.1px solid var(--pink2black);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  border: none;
}

h1 {
  position: absolute;
  left: 0;
  top: calc(50% - 130px/2);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
  line-height: 82.5%;
  color: var(--focus);
  text-shadow: 4px 4px 0px var(--accent);
}

.title {
  position: absolute;
  right: 20px;
  bottom: 135px;
  width: 491px;
  height: 71px;
}

.title-decor {
  color: var(--title);
  background-color: var(--accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.decorated-zone {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--pink2black);
  border-bottom: 1px solid var(--pink2black);
  z-index: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--pink2black);
  border-top: 1px solid var(--pink2black);
  z-index: 0;
}

.rec {
  position: absolute;
  color: var(--accent);
  font-size: 18px;
  margin-top: 20px;
  margin-left: calc(100% - 82px);
  text-transform: uppercase;
}

.point {
  position: absolute;
  width: 9px;
  height: 9px;
  right: 28px;
  top: 28px;
  background: radial-gradient(circle, var(--accent) 0%);
  box-shadow: 0px 0px 4px 2px var(--accent);
  filter: blur(3px);
}

.main {
  margin: 60px 20px 0 20px;
}

.sec {
  display: grid;
  gap: 20px;
  margin-bottom: 80px;
  font-size: 18px;
}

.sec1 {
  grid-template-columns: 1fr 2fr;
}

.mini-title {
  color: var(--pink2black);
  font-weight: bold;
}

.text {
  color: var(--text);
  margin-top: 10px;
  margin-bottom: 20px;
}

.sec2 {
  grid-template-rows: 50px auto-fit;
}

.title-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sec3 {
  grid-template-columns: 1fr 2fr;
}

.special-title {
  color: var(--title);
  background-color: var(--accent);
  font-weight: 100;
  font-size: 18px;
  line-height: 23px;
}

.gallery-title {
  margin-bottom: 20px;
}

.gallery {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 60px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sunset {
  grid-column: 1 / 3;
  grid-row: 1;
}

.ice-cream {
  grid-column: 3;
  grid-row: 1 / 3;
}

.tape {
  grid-column: 1;
  grid-row: 2 / 4;
}

.book {
  grid-column: 2;
  grid-row: 2;
}

.street {
  grid-column: 2 / 4;
  grid-row: 3;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
  line-height: 82.5%;
  color: var(--focus);
  text-shadow: 4px 4px 0px var(--accent);
}

.gap {
  margin-top: 20px;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono';
  position: relative;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

@media (width >= 375px) {
.header__theme-menu-list {
  flex-direction: column;
  right: 20px;
  left: auto;
  top: 75px;
}

.sec {
  margin-bottom: 50px;
}

.main {
  margin: 40px 10px 0 10px;
}

.sec1 {
  grid-template-columns: none;
}

.sec3 {
  grid-template-columns: none;
}

.content {
  grid-template-columns: none;
}

.title {
  right: 10px;
  height: 117px;
  width: 355px;
  bottom: 60px;
}

.gallery {
  display: block;
  margin-bottom: 40px;
}

img {
  margin-bottom: 10px;
}

.gallery-title {
  margin-bottom: 10px;
}

.title-row {
  grid-template-columns: none;
}

h1 {
  bottom: 238px;
  height: 192px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

h2 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
}

@media (width >= 768px) {
.header__theme-menu-list {
  top: 192px;
}

.main {
  margin: 60px 20px 0 20px;
}

.sec {
  margin-bottom: 80px;
}

h1 {
  bottom: 462px;
  height: 99px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

h2 {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
}

.title-row {
  grid-template-columns: 1fr 2.5fr;
}

.gallery-title {
  margin-bottom: 20px;
}

.sec1 {
  grid-template-columns: 1fr 2fr;
}

.sec3 {
  grid-template-columns: 1fr 2fr;
}

.gallery {
  display: grid;
  height: 823px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

img {
  margin-bottom: 0;
}

.sunset {
  grid-column: 1 / 3;
  grid-row: 1;
}

.ice-cream {
  grid-column: 3;
  grid-row: 1 / 3;
}

.tape {
  grid-column: 1;
  grid-row: 2 / 4;
}

.book {
  grid-column: 2;
  grid-row: 2;
}

.street {
  grid-column: 2 / 4;
  grid-row: 3;
}

.title {
  right: 20px;
  width: 364px;
  bottom: 183px;
}
}

@media (width >= 1024px) {
.header__theme-menu-list {
  flex-direction: row;
  left: calc(50% - 230px/2);
  top: 20px;
}

h1 {
  top: 319px;
  height: 130px;
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
}

h2 {
  font-size: clamp(9.8125rem, 8.1696rem + 2.567vw, 11.25rem);
}

.title-row {
  grid-template-columns: 1fr 2fr;
}

.gallery {
  height: 1091px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.title {
  bottom: 135px;
  width: 491px;
  height: 71px;
}

.content {
  grid-template-columns: repeat(3, 1fr);
}
}